<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>幼儿园财务管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/admin.css}" rel="stylesheet" type="text/css">

    <!--&lt;!&ndash; Le HTML5 shim, for IE6-8 support of HTML5 elements &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
	    <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

</head>    
<body>

<div class="container">

	<div class="row">

		<div class="span2">

			<div class="main-left-col">

				<h1><i class="icon-shopping-cart icon-large"></i> Finance</h1>

				<ul class="side-nav">

					<!-- 利用KinderController里的goto***()方法跳转 -->
					<li><a th:href="@{/gotomain}"><i class="icon-home"></i> 账目总计 </a></li>
					<li><a th:href="@{/gotoincome_bill}"><i class="icon-group"></i> 收入账单 </a></li>
					<li><a th:href="@{/gotobonus_bill}"><i class="icon-cogs"></i> 支出账单 </a></li>
                    <li><a th:href="@{/gotouser_massage}"><i class="icon-cogs"></i> 用户信息</a></li>
					<li><a th:href="@{/gotohelp}"><i class="icon-info-sign"></i> 帮助 </a></li>
				</ul>

			</div> <!-- end main-left-col -->

		</div> <!-- end span2 -->

<!--<div class="span10">-->

	<!--<div class="secondary-masthead">-->

		<!--<ul class="nav nav-pills pull-right">-->
			<!--<li>-->
				<!--<a href="#"><i class="icon-globe"></i> View Website</a>-->
			<!--</li>-->
			<!--<li class="dropdown">-->
				<!--<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> <font th:text="${session.username}"></font> <b class="caret"></b>-->
				<!--</a>-->
				<!--<ul class="dropdown-menu">-->
					<!--<li><a href="/kinder_count">我的账户</a></li>-->
					<!--<li><a th:href="@{/gotokinderupdate}">修改资料</a></li>-->
					<!--<li class="divider"></li>-->
					<!--<li><a href="/login">退出登录</a></li>-->
				<!--</ul>-->
			<!--</li>-->
		<!--</ul>-->

		<!--<ul class="breadcrumb">-->
			<!--<li>-->
				<!--<a href="#">园长</a> <span class="divider">/</span>-->
			<!--</li>-->
			<!--<li class="active">幼儿园财务管理系统</li>-->
		<!--</ul>-->

	<!--</div>-->

	<!--<div class="main-area dashboard">-->

		<!--<div class="row">-->

			<!--<div class="span10">-->

				<!--<div class="slate">-->

					<!--<form class="form-inline" action="/kinderindex">-->
						<!--<input type="text" class="input-large" name="search" placeholder="请输入关键字进行检索">-->
						<!--<button type="submit" class="btn btn-primary">查找</button>-->
					<!--</form>-->

				<!--</div>-->

			<!--</div>-->

		<!--</div>-->

		<!--<div class="row">-->

			<!--<div class="span10">-->

				<!--<div class="slate">-->

					<!--<div class="page-header">-->
						<!--<div class="btn-group pull-right">-->
							<!--<a class="btn btn-small btn-danger" th:href="@{/gotoaddstudent}">查询无果？点击添加</a>-->
						<!--</div>-->
						<!--<h2>学生列表</h2>-->
					<!--</div>-->

					<!--<table class="orders-table table">-->
						<!--<thead>-->
						<!--<tr>-->
							<!--<th>列表</th>-->
							<!--<th class="actions">操作</th>-->
						<!--</tr>-->
						<!--</thead>-->
						<!--<tbody>-->
						<!--<tr th:each="student:${students}">-->
							<!--&lt;!&ndash; 加参数 &ndash;&gt;-->
							<!--<td><a th:href="@{/kinderstudentinfo(stuId=${student.stuId})}" th:text="${student.stuName}"></a>-->
								<!--<span class="label label-info" th:text="${student.parentName}"></span><br />-->
								<!--<span class="meta" th:text="${student.stuIdNumber}"></span></td>-->
							<!--<td class="actions">-->
								<!--<a class="btn btn-small btn-primary" href="updatestudent.html">编辑信息</a>-->
								<!--<a class="btn btn-small btn-info" th:href="@{/gotokinderaddincome(stuId=${student.stuId})}">缴费</a>-->
							<!--</td>-->
						<!--</tr>-->
						<!--</tbody>-->
					<!--</table>-->

				<!--</div>-->

			<!--</div>-->

		<!--</div>-->

		<!--<div>-->
			<!--<div class="col-md-6">-->
				<!--<nav aria-label="Page navigation">-->
					<!--<ul class="pagination">-->
						<!--&lt;!&ndash;首页 和 上一页&ndash;&gt;-->
						<!--<li> <a th:href="@{/kinderindex}" class="btn btn-sm"> 首页 </a></li>-->
						<!--<th:if test="${pageInfo.hasPreviousPage - 1} > 0">-->
							<!--<li>-->
								<!--<a th:href="@{/kinderindex(pn=${pageInfo.pageNum - 1})}" aria-label="Previous" class="btn btn-sm"  data-th-classappend="${(pageInfo.pageNum - 1) eq 0} ? 'disabled' : ''">-->
									<!--< </a> </li>-->
						<!--</th:if> &lt;!&ndash;迭代生成页码&ndash;&gt; <li>-->
						<!--<a th:each="i:${pageInfo.navigatepageNums}" th:href="@{/kinderindex(pn=${i})}" th:text="${i}" class="btn btn-sm" data-th-classappend="${(pageInfo.pageNum) eq i} ? 'btn-info' : ''">-->
						<!--</a> </li>-->
						<!--&lt;!&ndash;下一页 和 末页&ndash;&gt; <th:if test="${pageInfo.hasNextPage }">-->
						<!--<li> <a aria-label="Next" class="btn btn-sm" th:href="@{/kinderindex(pn=${pageInfo.pageNum + 1})}" data-th-classappend="${(pageInfo.pageNum) eq (pageInfo.pages)} ? 'disabled' : ''">-->
							<!--&gt; </a> </li>-->
					<!--</th:if>-->

						<!--<li> <a th:href="@{/kinderindex(pn=${pageInfo.pages})}" class="btn btn-sm"> 末页 </a>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</nav>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="row">-->

			<!--<div class="span10 footer">-->

				<!--<p>&copy; KMS 2018-2019</p>-->

			<!--</div>-->

		<!--</div>-->

	<!--</div>-->

<!--</div> &lt;!&ndash; end span10 &ndash;&gt;-->

</div> <!-- end row -->

</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/assets/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.js}" type="text/javascript"></script>

<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='utf-8'></script></div>
</body>
</html>