<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo3.mapper.StudentMapper">

    <select id="getAll" resultType="com.example.demo3.entry.Income_Other" >
        SELECT *

        FROM income_other
        ORDER by other_payID
        DESC
    </select>

    <select id="getIncome_OtheByPayId" resultType="com.example.demo3.entry.Income_Other" parameterType="java.lang.Integer">

        SELECT *
        FROM income_other
        WHERE
        other_payID=#{other_payID}

    </select>

    <delete id="delectIncome_OtherByPayId" parameterType="java.lang.Integer">
        DELETE
        FROM income_other
        WHERE
        other_payID=#{other_payID}
    </delete>

    <insert id="insertIncome_Other" useGeneratedKeys="true" keyProperty="other_payID"
            keyColumn="other_payID" parameterType="com.example.demo3.entry.Income_Other">

        INSERT INTO
        income_other(other_payDate, other_payMoney, other_payRemark, othe_payMan)
        VALUES
        (#{other_payDate},#{other_payMoney},#{other_payRemark},#{othe_payMan})

    </insert>

    <update id="updateIncome_Other" parameterType="com.example.demo3.entry.Income_Other">

        UPDATE
        income_other
        SET
        other_payDate = #{other_payDate},
        other_payMoney = #{other_payMoney},
        other_payRemark = #{other_payRemark},
        othe_payMan = #{other_payMan}
        WHERE
        other_payID= #{other_payID}


    </update>

</mapper>